# Task 1

---

## Web scraping and analysis

This Jupyter notebook includes some code to get you started with web scraping. We will use a package called `BeautifulSoup` to collect the data from the web. Once you've collected your data and saved it into a local `.csv` file you should start with your analysis.

### Scraping data from Skytrax
If you visit [https://www.airlinequality.com] you can see that there is a lot of data there. For this task, we are only interested in reviews related to British Airways and the Airline itself.
If you navigate to this link: [https://www.airlinequality.com/airline-reviews/british-airways] you will see this data. Now, we can use `Python` and `BeautifulSoup` to collect all the links to the reviews and then to collect the text data on each of the individual review links.

In [1]:
import csv
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd

In [13]:
# Set the URL of the paginated webpage that you want to scrape
url = "https://www.airlinequality.com/airline-reviews/british-airways"

# Initialize an empty list to store the data that you scrape
data = []

# Setting the initial page number and the increment that you want to use to paginate through the webpage
page_num = 1
page_incr = 1
page_size = 100
# maximum number of pages to be scraped
max_pages = 20

# Set the URL of the webpage to be scraped 
paginated_url = f"{url}/page/{page_num}/?sortby=post_date%3ADesc&pagesize={page_size}"

# A while loop to paginate through the webpage and scrape the data
while page_num <= max_pages:

    print(f"Scraping page {page_num}")

    # A GET request to the paginated URL
    response = requests.get(paginated_url)

    # Parsing the response using BeautifulSoup
    parsed_content = BeautifulSoup(response.text, "html.parser")

    # Finding all the elements on the page that contain the data to be scraped
    elements = parsed_content.find_all("div",class_ = "body")

    # Looping through the elements and extract the data that you want to scrape
    for element in elements:
        header = element.find("h2",class_ = "text_header").text.replace("\n", " ")
        sub_header = element.find("h3",class_ = "text_sub_header").text.replace("\n", " ")
        content = element.find("div",class_ = "text_content").text.replace("\n", " ")
        
        data.append([header,sub_header,content])

    # Increasing the page number and setting the paginated URL to the new page
    page_num += page_incr
    paginated_url = f"{url}/page/{page_num}/?sortby=post_date%3ADesc&pagesize={page_size}"

    print(f"   ---> {len(data)} total reviews")

Scraping page 1
   ---> 100 total reviews
Scraping page 2
   ---> 200 total reviews
Scraping page 3
   ---> 300 total reviews
Scraping page 4
   ---> 400 total reviews
Scraping page 5
   ---> 500 total reviews
Scraping page 6
   ---> 600 total reviews
Scraping page 7
   ---> 700 total reviews
Scraping page 8
   ---> 800 total reviews
Scraping page 9
   ---> 900 total reviews
Scraping page 10
   ---> 1000 total reviews
Scraping page 11
   ---> 1100 total reviews
Scraping page 12
   ---> 1200 total reviews
Scraping page 13
   ---> 1300 total reviews
Scraping page 14
   ---> 1400 total reviews
Scraping page 15
   ---> 1500 total reviews
Scraping page 16
   ---> 1600 total reviews
Scraping page 17
   ---> 1700 total reviews
Scraping page 18
   ---> 1800 total reviews
Scraping page 19
   ---> 1900 total reviews
Scraping page 20
   ---> 2000 total reviews

In [14]:
#Coverting the list data into a dataframe
df = pd.DataFrame(data)
df.columns = ["REVIEW","PERSONAL INFO","CONTENT"]

#Removing unwanted text(first text preprocessing)
df.replace(re.compile(r'\s*✅ Trip Verified \|\s*'), '', inplace=True)
df

,REVIEW,PERSONAL INFO,CONTENT
0,"""My bag never showed up""",T Darsen (United States) 3rd December 2022,I was flying to Warsaw for one day of meetings...
1,"""eventually make good on their promise""",Ian Sinclair (United Kingdom) 30th November ...,"Booked a BA holiday to Marrakech, after postin..."
2,"""Extremely sub-par service""",S SI (United States) 28th November 2022,Extremely sub-par service. Highlights: No onli...
3,"""the service was excellent""",R Vines (United Kingdom) 26th November 2022,I virtually gave up on British Airways about t...
4,"""I thoroughly enjoyed my flight""",2 reviews Connor Heward (Canada) 25th Nov...,I was pleasantly surprised that the airline co...
...,...,...,...
1995,"""food is minimal""",R Mortara (United Kingdom) 18th May 2016,Milan Malpensa to London Heathrow with British...
1996,"""erosion of quality and services""",Clive Drake (United Kingdom) 18th May 2016,There are many negative reviews on this site -...
1997,"""journey was very cramped""",P Harvey (United Kingdom) 18th May 2016,"British Airways from Gatwick to Catania, Sicil..."
1998,"""I would fly BA again""",C O'Hanlon (United Kingdom) 17th May 2016,Outbound flight with British Airways from Gatw...
1999,"""probably the worst food experienced""",R Klingelholler (Australia) 17th May 2016,✅ Verified Review | Family of 4 adults flying...

In [15]:
#Saving data into a csv 
df.to_csv(r"C:\Users\Mr.Hassan\Desktop\100DAYSOFML\webscraping\BA_reviews.csv")

In [16]:
sentiment_analysis_df = df.drop(["REVIEW","PERSONAL INFO"], axis=1)
sentiment_analysis_df.replace(re.compile(r'\s*✅ Verified Review \|\s*'), '', inplace=True)
sentiment_analysis_df

                                                CONTENT
0     I was flying to Warsaw for one day of meetings...
1     Booked a BA holiday to Marrakech, after postin...
2     Extremely sub-par service. Highlights: No onli...
3     I virtually gave up on British Airways about t...
4     I was pleasantly surprised that the airline co...
...                                                 ...
1995  Milan Malpensa to London Heathrow with British...
1996  There are many negative reviews on this site -...
1997  British Airways from Gatwick to Catania, Sicil...
1998  Outbound flight with British Airways from Gatw...
1999  Family of 4 adults flying British Airways from...

[2000 rows x 1 columns]

In [ ]:
df

In [ ]:
# # Write the scraped data to a CSV file
# with open("scraped_data.csv", "w",encoding="utf-8") as csvfile:
#     writer = csv.writer(csvfile,lineterminator="\n")
#     header = ["REVIEW","PERSONAL INFO","CONTENT"]
#     writer.writerow(header)
#     writer.writerows(data)

The loops above collected 2000 reviews by iterating through the paginated pages on the website.

 The next thing that you should do is clean this data to remove any unnecessary text from each of the rows. For example, "✅ Trip Verified" can be removed from each row if it exists, as it's not relevant to what we want to investigate.